@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

/* Estilos globais opcionais */
body {
  @apply bg-gray-50 text-gray-800 dark:bg-gray-900 dark:text-gray-100 transition-colors duration-200;
}
